apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui
spec:
  replicas: 2
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: guestbook-ui
  template:
    metadata:
      labels:
        app: guestbook-ui
    spec:
      containers:
        - image: wiracochamanager/mirepo:7c795f1feaf2cbb611fc9c963099d67c2039a358
          name: guestbook-ui
          ports:
            - containerPort: 80
#release: version-fdbe71106477534fc6884f12e93e32c25773d906
