apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui
spec:
  replicas: 2
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: guestbook-ui
  template:
    metadata:
      labels:
        app: guestbook-ui
    spec:
      containers:
        - image: wiracochamanager/mirepo:782b4ff8c23a95dc1371a615c4116c7416706caf
          name: guestbook-ui
          ports:
            - containerPort: 80
#release: version-fdbe71106477534fc6884f12e93e32c25773d906
