apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui
spec:
  replicas: 2
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: guestbook-ui
  template:
    metadata:
      labels:
        app: guestbook-ui
    spec:
      containers:
        - image: wiracochamanager/mirepo:latest
          name: guestbook-ui
          ports:
            - containerPort: 80
#release: version-b6db084b1bf313ffe29f0f07a6c931467efe5770
