apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui
spec:
  replicas: 2
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: guestbook-ui
  template:
    metadata:
      labels:
        app: guestbook-ui
    spec:
      containers:
        - image: wiracochamanager/mirepo:de4e1c8d52a252c5b328018f0a9801d73733a2ea
          name: guestbook-ui
          ports:
            - containerPort: 80
#release: version-fdbe71106477534fc6884f12e93e32c25773d906
